<%= render partial: "/layouts/header", locals: { header_name: @survey.name } %>

<h4>Project Name: <%= @project.name %></h4>

<%= render partial: "srform", locals: { project: @project, survey_response: @survey_response, button_name: "Submit Survey" } %>